@use "@/assets/scss/variables";
@use "@/assets/scss/functions";

:root {
  --page-max-width: #{variables.$page-max-width};
  --page-padding-horizontal: #{functions.pad(8)};
  --page-padding-vertical: #{functions.pad(12)};

  --padding-step: #{variables.$padding-step};
}
