@use "@/assets/scss/variables";

.projects {
  display: flex;
  flex-direction: column;
  gap: pad(6);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: pad(4);

    a {
      color: variables.$text-primary;
      font-size: variables.$text-md;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: pad(5);

  @include breakpoint-up("md") {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include breakpoint-up("lg") {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
