@use "@/assets/scss/variables";

.icon_card {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: pad(6);

  &_icon {
    padding: pad(4);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 64px;
    height: 64px;

    background: variables.$bg-accent;
    color: variables.$color-primary;
    font-size: variables.$heading-md;
    border-radius: variables.$radius-medium;
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: pad(2);

    & > h3 {
      color: variables.$text-accent;
    }
    & > h4 {
      font-size: variables.$text-md;
      font-weight: 400;
      color: variables.$text-primary;
    }
    & > p {
      font-size: variables.$text-md;
      color: variables.$text-muted;
    }
  }
}

.icon_card_slim {
  gap: pad(3);
  .icon_card_content {
    gap: 0;
  }
}
