@use "@/assets/scss/variables";

.info_introduction {
  @include grid-col(12);
  @include grid-col(8, $breakpoint: "xl");
}

.info_picture {
  @include grid-col(12);
  @include grid-col(4, $breakpoint: "xl");

  display: none;
  @include breakpoint-up("xl") {
    display: block;
  }

  aspect-ratio: 1;
  width: 100%;
  align-self: flex-end;
  border-radius: variables.$radius-medium;
}

.about {
  @include grid-col(12);
}
