@use "@/assets/scss/variables";

.info {
  position: relative;
  display: flex;
  flex-direction: column;
}

.info_filler {
  padding: pad(4) 0;

  display: flex;
  justify-content: end;
  align-items: end;
}

.info_filler_chip {
  visibility: hidden;
  @include breakpoint-up("md") {
    visibility: visible;
  }
}

.info_main {
  padding: pad(12) pad(8);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: pad(6);

  background: variables.$bg-accent;
  border: 1px solid variables.$border-accent;
  border-radius: variables.$radius-medium;

  h1 {
    color: variables.$text-primary;
  }

  p {
    @include breakpoint-up("md") {
      max-width: 60%;
    }

    font-size: variables.$text-lg;
    color: variables.$text-secondary;
  }
}

.info_btn_container {
  width: 100%;
  display: flex;

  flex-direction: column;
  text-align: center;
  gap: pad(2);

  @include breakpoint-up("md") {
    flex-direction: row;
    text-align: start;
    gap: pad(6);
  }
}

.info_avatar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 16px;

  width: 72px;
  height: 72px;

  @include breakpoint-up("md") {
    top: -32px;

    width: 128px;
    height: 128px;
  }

  @include breakpoint-up("xl") {
    top: -32px;
    left: pad(8);
    transform: translateX(0);
  }

  border-radius: 50%;
}
