@use "sass:map";
@use "@/assets/scss/variables";

.chip {
  width: max-content;
  padding: pad(2) pad(4);
  display: inline-flex;
  align-items: center;
  gap: pad(2);

  border-radius: variables.$radius-medium;
  font-size: variables.$text-md;
  font-weight: 500;
}

.withDot {
  &::before {
    content: "";
    flex: 0 0 auto;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background: currentColor;
  }
}

@each $name, $theme in variables.$chip-variants {
  .#{$name} {
    background-color: map.get($theme, "background");
    color: map.get($theme, "color");
  }
}
