@use "@/assets/scss/global";
@use "@/assets/scss/variables";
@use "@/assets/scss/functions";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;

  background: variables.$bg-primary;
  color: variables.$text-base;
  font-size: variables.$text-md;
  line-height: 1.4;

  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h1 {
  font-size: variables.$heading-lg;
  font-weight: 600;
  color: variables.$text-accent;
}

h2 {
  font-size: variables.$heading-md;
  font-weight: 600;
  color: variables.$text-accent;
  line-height: 1.15;
}

h3 {
  font-size: variables.$text-lg;
  font-weight: 600;
  color: variables.$text-accent;
  line-height: 1.25;
}
